.App {
  text-align: center;
  margin: 20px;
}

.users-table {
  margin: 0 auto;
  border-collapse: collapse;
}

.users-table th, 
.users-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.users-table th {
  background-color: #f2f2f2;
}

.flex-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.flex-container button {
  margin-top: 10px; 
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.flex-container button:hover {
  background-color: #45a049;
}


/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} */
